.sliderBox {
  position: absolute;
  height: 424px;
  width: 856px;
  top: 100px;
  left: 50px;
  left: 50%;
  margin-left: -428px;
}

.sliderBox .prevBtn {
  position: absolute;
  top: 153px;
  left: -135px;
  height: 116px;
  width: 59px;
  text-decoration: none;
  background: url(../img/left-arrow.png) left top no-repeat;
}

.sliderBox .nextBtn {
  position: absolute;
  top: 153px;
  right: -135px;
  height: 116px;
  width: 59px;
  text-decoration: none;
  background: url(../img/right-arrow.png) left top no-repeat;
}

.SimSlider {
  position: relative;
  overflow: hidden;
  height: 424px;
  width: 856px;
}

.SimSlider .slide {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 424px;
  width: 856px;
}