//-------------------------------------------------------------------------------------------
// less переменные
//-------------------------------------------------------------------------------------------

@col-main:#fff;
@col-black: #000;
@col-border: #b0b0b0;
@col-arrow: #b9b9b9;

//-------------------------------------------------------------------------------------------
// less миксины
//------------------------------------------------------------------------------------------

@import url("mixins.less");

//-------------------------------------------------------------------------------------------
// Базовый стиль
//-------------------------------------------------------------------------------------------

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  padding-top: 30px;
}

h1 {
  text-transform: uppercase;
  font-family: verdana;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a:active, a:focus, button:active, button:focus {
  outline: 0;
}

//-------------------------------------------------------------------------------------------
// slider
//-------------------------------------------------------------------------------------------

@import url("slider.less");

//меняем стиль компонентов слайдера

.slider {
  // width: 876px;
  // width: 856px;
  .center();
  margin-bottom: 30px;
}

.slide {
  width: 876px;
  // width: 856px;
  .center();
  ul {
    // position: relative;
    list-style: none;
  }
  li {
    // width: 145px;
    // height: 145px;
    // overflow: hidden;
    display: inline-block;
    // float: left;
    margin: 33px;
    text-align: center;
    // position: relative;
  }
  img {
    // transform: rotate(-45deg);
  }
  p {
    // transform: rotate(-45deg);
  }
  li div.back {
    left: -999em;
  }
  .wrap-item2{
    transform: rotate(45deg) !important;
    // border: 1px @col-border solid;
  }
  .wrap-item{
  // border: 1px @col-border solid;
    // transform: rotate(45deg) !important;
  }
}

.first {
  position: absolute;
  top: 106px;
  left: 107px;
}

.second {
  position: absolute;
  top: 106px;
  left: 323px;
}

.third {
  position: absolute;
  top: 106px;
  left: 538px;
}

.front {
  // position: absolute;
  // right: 2px;
  // top: 50px;
  // .center();
  width: 145px;
  height: 145px;
  border: 1px @col-border solid;
  transform: rotate(-45deg);
  img{
    transform: rotate(-45deg);
  }
}

.main {
  position: relative;
}

.main div.front,
.main div.back {
  width: 145px;
  height: 145px;
  overflow: hidden;
  // position: absolute;
  top: 0;
  left: 0;
}

.back {
  display: none;
  text-align: center;
  // padding: 50px 20px;
  border: 1px @col-border solid;
  transform: rotate(-45deg);
  width: 145px;
  height: 145px;
  // position: relative;
  p {
    width: 145px;
    height: 145px;
    transform: rotate(-45deg);
    line-height: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}
