*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  padding-top: 30px;
}
h1 {
  text-transform: uppercase;
  font-family: verdana;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active,
a:focus,
button:active,
button:focus {
  outline: 0;
}
.sliderBox {
  position: absolute;
  height: 424px;
  width: 856px;
  top: 100px;
  left: 50px;
  left: 50%;
  margin-left: -428px;
}
.sliderBox .prevBtn {
  position: absolute;
  top: 153px;
  left: -135px;
  height: 116px;
  width: 59px;
  text-decoration: none;
  background: url(../img/left-arrow.png) left top no-repeat;
}
.sliderBox .nextBtn {
  position: absolute;
  top: 153px;
  right: -135px;
  height: 116px;
  width: 59px;
  text-decoration: none;
  background: url(../img/right-arrow.png) left top no-repeat;
}
.SimSlider {
  position: relative;
  overflow: hidden;
  height: 424px;
  width: 856px;
}
.SimSlider .slide {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 424px;
  width: 856px;
}
.slider {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.slide {
  width: 876px;
  margin-right: auto;
  margin-left: auto;
}
.slide ul {
  list-style: none;
}
.slide li {
  width: 145px;
  height: 145px;
  display: inline-block;
  margin: 33px;
  transform: rotate(45deg);
  text-align: center;
}
.slide img {
  transform: rotate(-45deg);
}
.slide p {
  transform: rotate(-45deg);
}
.slide li div.back {
  left: -999em;
}
.first {
  position: absolute;
  top: 106px;
  left: 107px;
}
.second {
  position: absolute;
  top: 106px;
  left: 323px;
}
.third {
  position: absolute;
  top: 106px;
  left: 538px;
}
.front {
  width: 145px;
  height: 145px;
  border: 1px #b0b0b0 solid;
}
.main {
  position: relative;
}
.main div {
  width: 145px;
  height: 145px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.back {
  display: none;
  text-align: center;
  border: 1px #b0b0b0 solid;
  width: 145px;
  height: 145px;
}
.back p {
  width: 145px;
  height: 145px;
  transform: rotate(-45deg);
  line-height: 145px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
